spring:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.elavationlab: DEBUG
    org.testcontainers: INFO

